doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Photo Manager - #{title}
    link(rel="stylesheet" href="/css/style.css")
  body
    nav.nav
      .nav-container
        .nav-brand
          a(href="/") Photo Manager
        .nav-links
          a(href="/") Home
          a(href="/photos") Photos
          a(href="/albums") Albums
        .nav-auth
          if user
            .user-menu
              button#user-menu-button(type="button")
                img(src=user.avatar || "/images/default-avatar.png" alt="")
              #user-menu.dropdown
                a(href="/profile") Your Profile
                a(href="/settings") Settings
                a(href="/auth/logout") Sign out
          else
            a(href="/auth/login") Sign in
            a(href="/auth/register") Sign up

    main.main
      block content

    block scripts 