extends layout

block content
  article.login
    header.login-header
      h1 Login
      p Enter your credentials to access your account

    section.login-form
      if messages.error
        .error-message= messages.error

      form(action="/auth/login" method="POST")
        .form-group
          label(for="email") Email
          input#email(type="email" name="email" required)

        .form-group
          label(for="password") Password
          input#password(type="password" name="password" required)

        button(type="submit") Sign In

      .auth-links
        p Don't have an account? 
          a(href="/register") Create one here 