doctype html
html
	head
		title Photo Manager
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		header
			nav
				a(href='/') Home
				a(href='/photos') Photos
				a(href='/albums') Albums
		main
			block content
		footer
			p © 2024 Photo Manager 